Source: ros-noetic-cob-android-resource-server
Section: misc
Priority: optional
Maintainer: Benjamin Maidel <bnm@ipa.fhg.de>
Build-Depends: debhelper (>= 9.0.0), python3-setuptools, ros-noetic-catkin
Homepage: http://ros.org/wiki/cob_android_resource_server
Standards-Version: 3.9.2

Package: ros-noetic-cob-android-resource-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-rospy
Description: cob_android_resource_server
